*{
    padding: 0.5em;
    color: white;
    margin: 0.3em;
    
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1943EC;
    padding: 2em;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #748DF0;
}

#inputter div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#inputter{
    
    border: solid red;
    background-color: orange;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


label{
    
    color: black;
}

input, select, option{
    border : dotted red;
    color: yellow;
    background-color: black;
}


button{
    background-color: rgb(56, 55, 55);
    color: white;
    width: 15em;
    border: solid blue;
    transition: all 0.5s;
    height: 2.7em;
}

button:hover{
    font-weight: bold;
    color: red;
    height: 3.5em;
    border: solid red;
    
}

#Resultats{
    border: solid rgb(0, 213, 228);
    background-color: rgb(2, 36, 2);
    display: flex;
    flex-wrap: wrap;
}

#Resultats div{
    display: flex;
    
    border: solid red;
    background-color: black;
    margin: 0;
}

#Resultats>div>p+p{
    border: solid purple;
    background-color: yellow;
    color: rgb(4, 14, 4);
    font-weight: bolder;
}